<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="MakeMyTrip Suite" verbose="1">

    <listeners>
        <listener class-name="test.AllureTestListener"/>
    </listeners>

    <test name="MakeMyTrip Test Cases">
        <classes>
            <class name="test.makeMyTriptest"/>
        </classes>
    </test>

</suite>
